body {
    margin: 0;
    background-color: #70A288;
}

h1 {
    color: #FFFCF7;
}

h2 {
    color: #FFFCF7
}

p {
    color: #FFFCF7;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 30px;
}

.menu li {
    list-style-type: none;
    padding: 20px;
}

.menu a{
    text-decoration: none;
}

.menu a:hover {
    text-decoration: underline;
}